* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* general */

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(51,71,91);
}


.container {
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
.shadow {
  -moz-box-shadow:    1px 1px 2px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.1);
  box-shadow:         1px 1px 2px 3px rgba(0,0,0,0.1);
}
/* /general */

/* navigation */
.nav-bar-top {
  background-color: #f4f9fd;
}

.nav-bar-top ul {
  display: inline;
  list-style-type: none;
  font-size: 14px;
  width: 50%;
}

.nav-bar-top li {
  font-size: 14px;
  display: inline-block;
  margin: 3% 1%;
  padding: 1%;
  font-weight: 600;
}

.nav-bar-top .float-left li:last-child {
  border-left: 1px solid;
  padding-left: 20px;

}

.button {
  border: 1px solid #ff7a59;
  border-radius: 5px;
  background-color: #ff7a59;
  color: white;
  }

  .button.reverse {
    background-color: white;
    color: #ff7a59;
  }

  i.fa-search {
    color: #0091ae
  }

.nav-bar-bottom {
  margin-top: 3%;
}

.logo {
  display: inline-block;
  height: 100%;
  width: 10%;
  text-align: center;
  line-height: 60px;
}

.nav-bar-bottom ul {
  width: 50%;
}

.nav-bar-bottom li {
  display: inline-block;
  margin-left: 4%;
  font-size: 14px;
  font-weight: 600;
}
/* /navigation */

/* banner */
.banner {
  position: relative;
  height: 100vh;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position: bottom;
  background-size: cover;
}

.title {
  position: absolute;
  width: 40%;
  top: 50px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 2%;
}

p {
  font-size: 13px;
  font-weight:500;
  margin-bottom: 2%;
}

.title div.button {
  display: block;
  width: 25%;
  padding: 2% 3%;
  font-size: 13px;
  margin-bottom: 2%;
}

small {
  font-size: 11px;
  font-weight: 500;
}

.line-green {
  height: 78px;
  width: 100%;
  color: rgba(51,71,91);
  background-color: rgb(175,235,228);
  position: absolute;
  bottom: 0;
  border-top: 3px solid rgba(51,71,91);
  border-bottom: 3px solid rgba(51,71,91);
}
/* /banner */
/* main */
/* main-top */
/* cubo */
.main-top {
  text-align: center;
  background-color: #f4f9fd;
}
.cubo {
  width: 20%;
  margin: auto;
}
.cubo > .cubo-img {
  height: 30vh;
  background-image: url(../img/Integrations_Illustration@2x.webp);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

.main-top h2 {
  margin-bottom: 3%;
}

.main-top > p {
  margin: auto;
  width: 72%;
  font-size: 13px;
  font-weight:600;
  margin-bottom: 4%;
  color: rgb(75,93,111);
}
/* /cubo */

/* row-up */

.row-up {
  border-radius: 5px;
}


.book {
  width: 32%;
  height: 30vh;
}

.book img {
  width: 30%;
  padding-top: 10%;
}

.row-up .content {
  width: 68%;
  height: 40vh;
}

.book .button {
  display: block;
  width: 40%;
  height: 20%;
  margin: auto;
  padding: 3%;
  margin-top: 10%;
  vertical-align: middle;
  line-height: 100%;
}

.row-up .content {
  text-align: left;
}

.content h3 {
  margin-top: 4%;
  font-size: 1.5em;
}

.content p {
  width: 75%;
  margin-top: 3%;
  font-weight: 500;
}

.content h4 {
  vertical-align: middle;
  display: inline-block;
}

.content hr {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  margin-left: 5%;
  border-color: rgba(75,93,111,0.5);
}

.content ul {
  margin-top: 3%;
}

.content li {
  list-style-type: none;
  display: inline-block;
  color: rgba(51,71,91);
  font-weight: 500;
}

.content ul i:first-of-type {
  margin-left: 0;
}

.fa-check-circle {
  color: #ff7a59;
  margin: 1% 1%;
}
/* /row-up */
/* row-down */
.row-down {
  margin: 3% 0;
}

.box {
  width: calc((100% - 80px) / 3);
  height: 100%;
  padding: 3%;
  border-radius: 5px;
}

.box-central {
  margin: 0px 40px;
}

.box img {
  width: 35%;
  margin-top: 10%;
}

.box h3 {
  margin-top: 4%;
  font-size: 1.5em;
}

.box p {
  margin-top: 5%;
}

.box hr {
  margin-top: 30%;
}

.box h4 {
  margin-top: 15%;
  margin-bottom: 5%;
}

.box ul {
  list-style-type: none;
  text-align: left;
  display: inline-block;
  width: 100%;
}

.box .button {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 20%;
  padding: 5%;
}
/* /row-down */
/* /main-top */
/* main-central-top */
.main-central {
  height: 100vh;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  text-align: center;
  color: white;
}

.main-green h2 {
  margin: auto;
  width: 80%;
  font-size: 1.4em;
  padding: 5% 0;
}

.table {
  margin-top: 5%;
}

.table-cell {
  width: calc(100% / 4);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.table-cell img {
  padding-top: 5%;
}

.table-cell .number {
  vertical-align: middle;
  padding: 5%;
  font-weight: 700;
  font-size: 2em;
}

.number span {
  font-size: 0.8em;
  font-weight: 300;
}

.table-cell p {
  padding-bottom: 5%;
  font-size: 0.6em;
}

.table-cell:last-of-type {
  border-right: none;
}

.table-row-down .table-cell {
  border-bottom: none;
}
/* /main-central-top */
/* main-bottom */
.main-white-top {
  width: 80%;
  margin: auto;
  padding-top: 3%;
}

#numero-importante {
  font-size: 2.3em;
  padding-bottom: 10%;
}

.top-left p {

  margin-bottom: 1%;
}

.top-right {
  height: 90px;
  width: 60%;
  padding-top: 2%;
}

.top-right .table-cell {
  height: 45px;
}

.top-right .table-cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 6%;
}
/* section-left */
.section-left {
  display: inline-block;
  width: 50%;
  height: 60vh;
  padding-top: 5%;
}

.section-left h2 {
  width: 80%;
  font-weight: 700;
  font-size: 1.8em;
}

.section-left p {
  width: 85%;
  padding-top: 10%;
}

.section-left .button {
  display: block;
  width: 30%;
  height: 15%;
  padding: 3%;
  margin-top: 8%;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}

.section-left p:last-of-type {
  font-weight: 300;
  padding-bottom: 10%;
}
/* /section-left */
/* section-right */
.section-right {
  position: relative;
  display: inline-block;
  width: 49%;
  height: 60vh;
}

.section-right img {
  position: absolute;
  width: 45%;
  bottom: 0;
  right: 0;
}
/* /main-bottom */
/* /main */
/* footer */
footer {
  margin-top: 5%;
  height: 100vh;
  background-color: #2d3e50;
}

.footer-row-up {
  height: 60vh;
  width: 80%;
  margin: auto;

}

.footer-col {
  display: inline-block;
  width: calc((100% - 13px) / 4);
  text-align: left;
  vertical-align: text-top;
}

.footer-col h4 {
padding-top: 20%;
padding-bottom: 5%;
color: white;
}

.footer-col li {
  list-style-type: none;
  padding-bottom: 4%;
  color: #cbd6e2;
  font-size: 13px;
}

.foo-button {
  width: 60%;
  height: 100%;
  border-radius: 5px;
  background-color: #cbd6e2;
  color: #2d3e50;
  font-size: 70%;
  padding: 3% 2%;
  margin: 5% 0;
}

.social li {
  display: inline-block;
  width: calc((60% - 0px) / 5)
}

.social a {
  color: #cbd6e2;
}

.footer-down {
  width: 100%;
  height: 100%;
  color: #cbd6e2;
}

.row-languages {
  width: 50%;
  margin: auto;
}

.languages {
  display: inline-block;
  text-align: center;
  margin: auto;
  width: calc((100% - 26px) /6);
  font-size: 70%;
}

footer hr {
  margin-top: 1%;
  border-color: #cbd6e2;
}

.footer-left {
  margin-top: 3%;
}

.footer-left p {
  font-size: 70%;
}

.footer-right {
  width: 20%;
  text-align: right;
  margin-top: 3%;
  font-size: 70%;
}

.footer-left img {
  margin-top: 5%;
  padding-bottom: 1%;
}

.footer-right span {
  padding: 0 3%;

}
/* /footer */
